In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("ODA.csv", sep=',', encoding='latin-1')
data

,year,DonorCode,donornamee,col,colname,Row,rowname,RecipientCode,RecipientNameE,regionid,Regionnname,incomegrid,incomegrname,Amount,Defl,NatCur,src,share,odaGNI,currencyname
0,2019,701,Japan,201.0,"Grants, Total",NaN,NaN,614.0,Kyrgyzstan,10009.0,SouthCentralAsia,10018.0,LMICs,27.350035,26.851563,NaN,dac2a,NaN,NaN,NaN
1,2019,820,New Zealand,201.0,"Grants, Total",NaN,NaN,1031.0,"Caribbean, regional",10005.0,CaribbeanCentralAmerica,10024.0,UnallocatedIncome,1.637329,1.684185,NaN,dac2a,NaN,NaN,NaN
2,2019,918,EU Institutions,201.0,"Grants, Total",NaN,NaN,255.0,Mali,10003.0,SouthSahara,10016.0,LDCs,207.368756,215.221281,NaN,dac2a,NaN,NaN,NaN
3,2019,918,EU Institutions,201.0,"Grants, Total",NaN,NaN,347.0,Guatemala,10005.0,CaribbeanCentralAmerica,10018.0,LMICs,43.102810,44.735003,NaN,dac2a,NaN,NaN,NaN
4,2018,801,Australia,201.0,"Grants, Total",NaN,NaN,543.0,Iraq,10011.0,MiddleEast,10019.0,UMICs,22.618653,22.618653,NaN,dac2a,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8383,2019,8,Norway,528.0,Total ODA,998.0,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,-25.972184,-27.802665,NaN,dac5,NaN,NaN,NaN
8384,2019,5,Germany,201.0,"Grants, Total",NaN,NaN,139.0,Tunisia,10002.0,NorthSahara,10018.0,LMICs,116.560214,120.577978,NaN,dac2a,NaN,NaN,NaN
8385,2018,301,Canada,201.0,"Grants, Total",NaN,NaN,364.0,Nicaragua,10005.0,CaribbeanCentralAmerica,10018.0,LMICs,6.718800,6.718800,NaN,dac2a,NaN,NaN,NaN
8386,2019,76,Poland,201.0,"Grants, Total",NaN,NaN,57.0,Kosovo,10010.0,Europe,10018.0,LMICs,0.835070,0.862362,NaN,dac2a,NaN,NaN,NaN
8387,2018,50,Spain,201.0,"Grants, Total",NaN,NaN,660.0,Nepal,10009.0,SouthCentralAsia,10016.0,LDCs,0.125840,0.125840,NaN,dac2a,NaN,NaN,NaN

In [3]:
data[data['donornamee']=='Italy']

,year,DonorCode,donornamee,col,colname,Row,rowname,RecipientCode,RecipientNameE,regionid,Regionnname,incomegrid,incomegrname,Amount,Defl,NatCur,src,share,odaGNI,currencyname
8,2018,6,Italy,201.0,"Grants, Total",NaN,NaN,769.0,Viet Nam,10008.0,FarEastAsia,10018.0,LMICs,1.776182,1.776182,NaN,dac2a,NaN,NaN,NaN
52,2019,6,Italy,201.0,"Grants, Total",NaN,NaN,247.0,Côte d'Ivoire,10003.0,SouthSahara,10018.0,LMICs,3.145996,3.297684,NaN,dac2a,NaN,NaN,NaN
53,2019,6,Italy,201.0,"Grants, Total",NaN,NaN,549.0,Jordan,10011.0,MiddleEast,10018.0,LMICs,16.331800,17.119256,NaN,dac2a,NaN,NaN,NaN
76,2018,6,Italy,201.0,"Grants, Total",NaN,NaN,446.0,Guyana,10006.0,SouthAmerica,10019.0,UMICs,0.002951,0.002951,NaN,dac2a,NaN,NaN,NaN
118,2018,6,Italy,201.0,"Grants, Total",NaN,NaN,65.0,Montenegro,10010.0,Europe,10019.0,UMICs,0.039518,0.039518,NaN,dac2a,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8262,2019,6,Italy,201.0,"Grants, Total",NaN,NaN,86.0,Belarus,10010.0,Europe,10019.0,UMICs,0.304117,0.318780,NaN,dac2a,NaN,NaN,NaN
8317,2019,6,Italy,201.0,"Grants, Total",NaN,NaN,336.0,Costa Rica,10005.0,CaribbeanCentralAmerica,10019.0,UMICs,0.368398,0.386161,NaN,dac2a,NaN,NaN,NaN
8348,2019,6,Italy,201.0,"Grants, Total",NaN,NaN,755.0,Philippines,10008.0,FarEastAsia,10018.0,LMICs,3.195419,3.349490,NaN,dac2a,NaN,NaN,NaN
8369,2018,6,Italy,201.0,"Grants, Total",NaN,NaN,269.0,Senegal,10003.0,SouthSahara,10016.0,LDCs,6.091570,6.091570,NaN,dac2a,NaN,NaN,NaN
8382,2018,6,Italy,201.0,"Grants, Total",NaN,NaN,463.0,Venezuela,10006.0,SouthAmerica,10019.0,UMICs,0.902191,0.902191,NaN,dac2a,NaN,NaN,NaN

In [4]:
data[(data['colname']=='Total ODA')&(data['donornamee']=='Italy')]

,year,DonorCode,donornamee,col,colname,Row,rowname,RecipientCode,RecipientNameE,regionid,Regionnname,incomegrid,incomegrname,Amount,Defl,NatCur,src,share,odaGNI,currencyname
1150,2019,6,Italy,528.0,Total ODA,150.0,Other Social Infrastructure,NaN,NaN,NaN,NaN,NaN,NaN,145.908110,148.439905,NaN,dac5,NaN,NaN,NaN
1916,2019,6,Italy,528.0,Total ODA,600.0,Debt Relief,NaN,NaN,NaN,NaN,NaN,NaN,3.836979,4.021983,NaN,dac5,NaN,NaN,NaN
1955,2019,6,Italy,528.0,Total ODA,400.0,Multisector,NaN,NaN,NaN,NaN,NaN,NaN,125.555532,128.732304,NaN,dac5,NaN,NaN,NaN
2242,2019,6,Italy,528.0,Total ODA,110.0,"Education, Health & Population",NaN,NaN,NaN,NaN,NaN,NaN,186.471168,191.896548,NaN,dac5,NaN,NaN,NaN
2783,2019,6,Italy,528.0,Total ODA,130.0,"Education, Health & Population",NaN,NaN,NaN,NaN,NaN,NaN,12.706820,13.045039,NaN,dac5,NaN,NaN,NaN
2860,2019,6,Italy,528.0,Total ODA,998.0,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,33.899870,34.669668,NaN,dac5,NaN,NaN,NaN
3157,2019,6,Italy,528.0,Total ODA,910.0,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,53.155765,54.497308,NaN,dac5,NaN,NaN,NaN
3449,2019,6,Italy,528.0,Total ODA,160.0,Other Social Infrastructure,NaN,NaN,NaN,NaN,NaN,NaN,60.233670,61.757482,NaN,dac5,NaN,NaN,NaN
3515,2019,6,Italy,528.0,Total ODA,200.0,Economic Infrastructure,NaN,NaN,NaN,NaN,NaN,NaN,84.647842,88.092174,NaN,dac5,NaN,NaN,NaN
4942,2019,6,Italy,528.0,Total ODA,300.0,Production,NaN,NaN,NaN,NaN,NaN,NaN,132.535963,135.526488,NaN,dac5,NaN,NaN,NaN
6059,2019,6,Italy,528.0,Total ODA,140.0,Other Social Infrastructure,NaN,NaN,NaN,NaN,NaN,NaN,38.430646,38.865102,NaN,dac5,NaN,NaN,NaN
6111,2019,6,Italy,528.0,Total ODA,500.0,Programme assistance,NaN,NaN,NaN,NaN,NaN,NaN,2.459568,2.477278,NaN,dac5,NaN,NaN,NaN
7503,2019,6,Italy,528.0,Total ODA,700.0,Humanitarian Aid,NaN,NaN,NaN,NaN,NaN,NaN,177.545805,180.284751,NaN,dac5,NaN,NaN,NaN
8020,2019,6,Italy,528.0,Total ODA,930.0,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,784.813759,795.539769,NaN,dac5,NaN,NaN,NaN
8061,2019,6,Italy,528.0,Total ODA,120.0,"Education, Health & Population",NaN,NaN,NaN,NaN,NaN,NaN,110.174338,112.406972,NaN,dac5,NaN,NaN,NaN

In [5]:
data[(data['year']=='2019')&(data['donornamee']=='Italy')&(data['rowname']=='Economic Infrastructure')]

,year,DonorCode,donornamee,col,colname,Row,rowname,RecipientCode,RecipientNameE,regionid,Regionnname,incomegrid,incomegrname,Amount,Defl,NatCur,src,share,odaGNI,currencyname
3515,2019,6,Italy,528.0,Total ODA,200.0,Economic Infrastructure,NaN,NaN,NaN,NaN,NaN,NaN,84.647842,88.092174,NaN,dac5,NaN,NaN,NaN

In [6]:
data[data['rowname']=='I. Official Development Assistance (ODA) (I.A + I.B)']

,year,DonorCode,donornamee,col,colname,Row,rowname,RecipientCode,RecipientNameE,regionid,Regionnname,incomegrid,incomegrname,Amount,Defl,NatCur,src,share,odaGNI,currencyname
63,2019,68,Czech Republic,1160.0,Grant equivalents,1010.0,I. Official Development Assistance (ODA) (I.A ...,NaN,NaN,NaN,NaN,NaN,NaN,309.200000,316.362977,7090.296120,dac1,30.999353,0.131326,* Czech koruna
200,2019,2,Belgium,1160.0,Grant equivalents,1010.0,I. Official Development Assistance (ODA) (I.A ...,NaN,NaN,NaN,NaN,NaN,NaN,2174.570000,2256.222395,1942.543381,dac1,52.107313,0.409181,* Euro
201,2019,301,Canada,1160.0,Grant equivalents,1010.0,I. Official Development Assistance (ODA) (I.A ...,NaN,NaN,NaN,NaN,NaN,NaN,4725.240000,4736.574766,6270.393480,dac1,68.363723,0.274819,* Canadian dollar
202,Change 2018/19 %,701,Japan,1160.0,Grant equivalents,1010.0,I. Official Development Assistance (ODA) (I.A ...,NaN,NaN,NaN,NaN,NaN,NaN,10.054986,8.049161,8.667911,dac1,NaN,NaN,NaN
242,2019,75,Hungary,1160.0,Grant equivalents,1010.0,I. Official Development Assistance (ODA) (I.A ...,NaN,NaN,NaN,NaN,NaN,NaN,312.060000,321.581196,90685.447360,dac1,50.993399,0.212585,* Hungarian forint
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7972,2019,302,United States,1160.0,Grant equivalents,1010.0,I. Official Development Assistance (ODA) (I.A ...,NaN,NaN,NaN,NaN,NaN,NaN,33492.340000,32906.014380,33492.340000,dac1,87.559543,0.154414,* United States dollar
8076,2019,7,Netherlands,1160.0,Grant equivalents,1010.0,I. Official Development Assistance (ODA) (I.A ...,NaN,NaN,NaN,NaN,NaN,NaN,5292.000000,5428.863383,4727.343600,dac1,64.721088,0.586816,* Euro
8102,Change 2018/19 %,6,Italy,1160.0,Grant equivalents,1010.0,I. Official Development Assistance (ODA) (I.A ...,NaN,NaN,NaN,NaN,NaN,NaN,-15.733806,-11.670821,-11.158986,dac1,NaN,NaN,NaN
8190,2019,9,Portugal,1160.0,Grant equivalents,1010.0,I. Official Development Assistance (ODA) (I.A ...,NaN,NaN,NaN,NaN,NaN,NaN,410.470000,428.166668,366.672851,dac1,35.678612,0.171904,* Euro
8314,Change 2018/19 %,69,Slovak Republic,1160.0,Grant equivalents,1010.0,I. Official Development Assistance (ODA) (I.A ...,NaN,NaN,NaN,NaN,NaN,NaN,-15.950341,-13.638537,-11.387277,dac1,NaN,NaN,NaN

In [7]:
data['colname'].unique()

array(['Grants, Total', 'Total ODA', nan, 'ODA Gross Loans',
       'Grant equivalents'], dtype=object)

In [8]:
data

,year,DonorCode,donornamee,col,colname,Row,rowname,RecipientCode,RecipientNameE,regionid,Regionnname,incomegrid,incomegrname,Amount,Defl,NatCur,src,share,odaGNI,currencyname
0,2019,701,Japan,201.0,"Grants, Total",NaN,NaN,614.0,Kyrgyzstan,10009.0,SouthCentralAsia,10018.0,LMICs,27.350035,26.851563,NaN,dac2a,NaN,NaN,NaN
1,2019,820,New Zealand,201.0,"Grants, Total",NaN,NaN,1031.0,"Caribbean, regional",10005.0,CaribbeanCentralAmerica,10024.0,UnallocatedIncome,1.637329,1.684185,NaN,dac2a,NaN,NaN,NaN
2,2019,918,EU Institutions,201.0,"Grants, Total",NaN,NaN,255.0,Mali,10003.0,SouthSahara,10016.0,LDCs,207.368756,215.221281,NaN,dac2a,NaN,NaN,NaN
3,2019,918,EU Institutions,201.0,"Grants, Total",NaN,NaN,347.0,Guatemala,10005.0,CaribbeanCentralAmerica,10018.0,LMICs,43.102810,44.735003,NaN,dac2a,NaN,NaN,NaN
4,2018,801,Australia,201.0,"Grants, Total",NaN,NaN,543.0,Iraq,10011.0,MiddleEast,10019.0,UMICs,22.618653,22.618653,NaN,dac2a,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8383,2019,8,Norway,528.0,Total ODA,998.0,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,-25.972184,-27.802665,NaN,dac5,NaN,NaN,NaN
8384,2019,5,Germany,201.0,"Grants, Total",NaN,NaN,139.0,Tunisia,10002.0,NorthSahara,10018.0,LMICs,116.560214,120.577978,NaN,dac2a,NaN,NaN,NaN
8385,2018,301,Canada,201.0,"Grants, Total",NaN,NaN,364.0,Nicaragua,10005.0,CaribbeanCentralAmerica,10018.0,LMICs,6.718800,6.718800,NaN,dac2a,NaN,NaN,NaN
8386,2019,76,Poland,201.0,"Grants, Total",NaN,NaN,57.0,Kosovo,10010.0,Europe,10018.0,LMICs,0.835070,0.862362,NaN,dac2a,NaN,NaN,NaN
8387,2018,50,Spain,201.0,"Grants, Total",NaN,NaN,660.0,Nepal,10009.0,SouthCentralAsia,10016.0,LDCs,0.125840,0.125840,NaN,dac2a,NaN,NaN,NaN

In [9]:
data = data.rename(columns={"donornamee":"Donor", "year":"Year", "col":"typeflowId", "Amount":"Amount (USD)", "RecipientNameE": "Recipient", "Regionnname":"Region", "colname":"Type of Flow", "rowname":"Sector", "incomegrname":"Income Group", "odaGNI": "ODA per GNI"})

In [10]:
data.drop(columns = ['src', 'share', 'currencyname', 'NatCur', 'Defl', 'Row'], inplace=True)

In [11]:
data.dtypes

Year              object
DonorCode          int64
Donor             object
typeflowId       float64
Type of Flow      object
Sector            object
RecipientCode    float64
Recipient         object
regionid         float64
Region            object
incomegrid       float64
Income Group      object
Amount (USD)     float64
ODA per GNI      float64
dtype: object

In [12]:
import re

In [13]:
re.sub(r"(\w)([A-Z])", r"\1 \2", 'WordWord')

'Word Word'

In [14]:
data['Region'] = data['Region'].fillna("0")

In [15]:
data['Region'] = data['Region'].apply(lambda col: re.sub(r"(\w)([A-Z])", r"\1 \2", col))

In [16]:
data.to_excel('data.xlsx')

In [18]:
'Asia, regional' in data['Recipient']

False

In [19]:
data['Recipient'].unique()

array(['Kyrgyzstan', 'Caribbean, regional', 'Mali', 'Guatemala', 'Iraq',
       'Syrian Arab Republic', nan, 'Viet Nam', "Côte d'Ivoire", 'Serbia',
       'Bolivia', 'Top 10 recipients', 'Djibouti', 'Burkina Faso',
       'Senegal', 'Bangladesh', 'Saint Lucia', 'North Macedonia',
       'Developing countries, unspecified', 'South Africa', 'Niger',
       'Mexico', 'Colombia', 'Afghanistan', 'Rwanda', 'Botswana',
       'Zambia', 'Nicaragua', 'Pakistan', 'South of Sahara, regional',
       "Lao People's Democratic Republic", 'Benin',
       'Middle East, regional', 'Guinea-Bissau', 'Tajikistan', 'Chad',
       'Papua New Guinea', 'Jordan', 'Bosnia and Herzegovina',
       'Kazakhstan', 'Morocco', 'Kenya', "China (People's Republic of)",
       'Turkey', 'Samoa', 'Palau', 'Georgia', 'Dominica', 'Moldova',
       'Togo', 'Panama', 'Top 5 recipients', 'Myanmar', 'Guyana',
       'Lebanon', 'States Ex-Yugoslavia unspecified', 'Venezuela',
       'Brazil', 'Yemen', 'Sudan', 'Dominican Republic', 'Montenegro',
       'Timor-Leste', 'West Bank and Gaza Strip', 'Bhutan', 'Fiji',
       'El Salvador', 'Uzbekistan', 'Peru', 'Mozambique',
       'Democratic Republic of the Congo', 'Congo', 'Grenada', 'Algeria',
       'Ghana', 'Armenia', 'Burundi', 'Ukraine', 'Ethiopia', 'Uganda',
       'Haiti', 'Philippines', 'South Sudan', 'Cabo Verde',
       'Sierra Leone', 'Ecuador', 'Maldives', 'Top 20 recipients',
       'Costa Rica', 'Micronesia', 'Indonesia', 'Madagascar',
       'Far East Asia, regional', 'Somalia', 'Tanzania', 'Honduras',
       'Asia, regional', 'Mauritius', 'Cuba', 'Guinea', 'Belize',
       'Azerbaijan', 'Sri Lanka', 'Africa, regional', 'Suriname',
       'Liberia', 'Namibia', 'Central African Republic',
       'America, regional', 'Egypt', 'Sao Tome and Principe', 'Thailand',
       'Albania', 'Argentina', 'Paraguay', 'North of Sahara, regional',
       'Nepal', 'Gambia', 'Gabon', 'Mongolia', 'Cambodia', 'Mauritania',
       'Turkmenistan', 'Caribbean & Central America, regional',
       "Democratic People's Republic of Korea", 'Cameroon', 'Tunisia',
       'Central Asia, regional', 'Angola', 'Malaysia',
       'Eastern Africa, regional', 'Lesotho', 'South Asia, regional',
       'Zimbabwe', 'Europe, regional', 'Vanuatu',
       'South America, regional', 'South & Central Asia, regional',
       'Oceania, regional', 'Niue', 'Antigua and Barbuda', 'Eswatini',
       'Belarus', 'Nigeria', 'Middle Africa, regional', 'Iran', 'Jamaica',
       'India', 'Libya', 'Saint Vincent and the Grenadines', 'Kiribati',
       'Comoros', 'Kosovo', 'Eritrea', 'Tuvalu', 'Equatorial Guinea',
       'Malawi', 'Saint Helena', 'Nauru', 'Tonga', 'Solomon Islands',
       'Marshall Islands', 'Central America, regional', 'Cook Islands',
       'Melanesia, regional', 'Tokelau', 'Southern Africa, regional',
       'Wallis and Futuna', 'Montserrat', 'Western Africa, regional'],
      dtype=object)